<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Flask API Hit</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos unde dolorum repellat, corrupti facilis saepe omnis atque neque nisi architecto est doloremque magni odio eaque labore quo reiciendis? Doloremque, ratione?</p>
</body>
</html>